<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEstimateFeesService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://orders.madisonsettlements.com/reswarewebservices/estimatefeesservice.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstimateFeesService"
          contract="EstimateFeesService.IEstimateFeesService" name="BasicHttpBinding_IEstimateFeesService" />
    </client>
  </system.serviceModel>
</configuration>