@model Madison.Internal.QM.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<form class="form-signin">
@*    <h2 class="form-signin-heading"></h2>*@
    
    <table style="width: 100%">
        <tr>
            <td style="text-align:right; vertical-align: middle; width: 50%;">
                @Html.TextBoxFor(Model => Model.UserName, new { @style="width: 60%; vertical-align: middle", @type="text", @class="input-block-level", @placeholder="Email"})
            </td>
            <td rowspan="2" style="padding-left: 10px; vertical-align: top"><button class="btn btn-large btn-success" type="submit">Begin</button></td>
        </tr>
        <tr>
            <td style="text-align:right; vertical-align: top; width: 50%;">
                @Html.TextBoxFor(Model => Model.Password, new { @style="width: 60%; vertical-align: middle", @type="text", @class="input-block-level", @placeholder="Password"})
            </td>

        </tr>
        <tr>
            <td style="text-align:right; width: 50%;">@Html.ValidationSummary(true)</td>
            <td></td>
        </tr>
    </table>
@*    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label>*@
    
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}