@model dynamic

@{
    ViewBag.Title = "Madison";
    Layout = "~/Views/shared/_BootstrapLayout.narrow.cshtml";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

      <div class="jumbotron">
        <h1>QM Assessment</h1>
        <p class="lead">Brought to you by the Madison Settlement Services team.</p>
      </div>

    @Html.Partial("_LoginPartial")

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4><b>QMAT DEFINED</b></h4>
          <p>Q-MAT is Madison’s patent pending Qualified Mortgage Assessment tool. It can be utilized to calculate fee caps and identify risk for unique transactions - even prior to origination and throughout fulfillment of a loan.</p>

          <h4><b>QMAT Application</b></h4>
          <p>With the CFPB finalization of the Qualified Mortgage Rule, Q-MAT extremely useful for lenders with any mortgage origination channel type. For TPO and Correspondent channels this is a particularly helpful tool in identifying QM RISK potential when required for loan approval.</p>

          @*<h4>3</h4>
          <p>Marketing and sales speak.  Highlight the advantages of the QM Assessment tool</p>*@

        </div>

        <div class="span6">
          <h4><b>Q-MAT BEST USE APPLICATION</b></h4>
          <p>Q-MAT is designed for easy consumption and easily integrated with most platforms. The tool is created for use multiple times throughout fulfillment to provide you with added assurance. We highly recommend Q-MAT reports for verification of QM Risk at these stages in the transaction.</p>
            <ul>
                <li>GFE Quote</li>
                <li>Lock</li>
                <li>HUD Prep</li>
                <li>Funding Approval</li>
            </ul>

          <h4>Q-MAT MAY REDUCE CONSUMER COSTS FOR TITLE INSURANCE</h4>
          <p>Q-MAT applies best efforts for finding reduced rates where consumers qualify. While not guaranteed, if possible Q-MAT will locate lower rates for first time homebuyers, purchase reissue rates and more unknown or commonly overlooked title premium discount opportunities.</p>

@*          <h4>Info Here</h4>
          <p>Marketing and sales speak.  Highlight the advantages of the QM Assessment tool</p>*@

        </div>
      </div>
}
